html, body, #app {
  height: 100%;
  margin: 0;
}
.log-in {
  height: 100%;
  background: url(../images/login-background.jpg) no-repeat fixed; 
  background-size: cover;
  .login-container {
    color: white;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    .header {
      font-size: 500%;
      font-family: Hiragino Sans GB;
      letter-spacing: 50px;
      padding-top: 40px;
    }
    .header-tips {
      font-weight: 300;
    }
    .wrapper {
      position: relative;
      left: 50%;
      float: left;
      margin-top: 50px;
      .login-content {
        position: relative;
        left: -50%;
        padding: 42px 65px;
        background-color: #fdfcfb;
        border: 1px solid;
        border-radius: 5px;
        opacity: 0.4;
        .login {
          color: black;
          text-align: left;
          input {
            width: 350px;
          }
          .submit-button {
            margin-top: 26px;
            padding: 6px 16px;
            font-size: small;
          }
        }
      }
    }
  }
}
